[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "did2s"]
	path = did2s
	url = https://github.com/kylebutts/did2s
[submodule "shiny.tailwind"]
	path = shiny.tailwind
	url = https://github.com/kylebutts/shiny.tailwind
